<p><% if (config.author){ %>
  &copy; <%= config.author %>
  <% } else { %>
  &copy; <%= config.title %>
  <% } %>
      Thanks for <a href="http://hexo.io/" target="_blank">Hexo</a>, <a href="http://github.com/wzpan/hexo-theme-freemind/" target="_blank">Freemind.386</a>.    
</p>
